<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Presidents</title>
</head>
<body>
    <div class="container">
        <h1>Les Présidents de la République Française</h1>
        <ul>
            {% for president in presidents %}
                <li>{{ president.firstName }} {{ president.lastName }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>